.App {
  text-align: center;
  font-family: 'Helvetica Neue';
  display: grid;
  grid-template-rows: auto 150px;
  grid-template-columns: auto 200px;
  grid-template-areas:
    'header header'
    'main nav';
  font-size: 12px;
}

.mainContent {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .mainContent {
    min-width: 65vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.loader {
  padding: 4em;
  justify-self: center;
}

/* css for headers and login */

.header {
  grid-area: header;
  background-color: #596f62;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 0;
  padding: 1em;
  border-bottom-color: #08090a;
  border-bottom-style: double;
  border-bottom-width: 10px;
  position: fixed;
}

.mainHeader {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5em;
  padding-right: 50px;
}

.mainHeader:hover {
  color: #f96652;
}

.login {
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 1em;
}

.login > label {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0.2em;
}

.loginInput {
  margin: 0.2em;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
  border: none;
}
.loginButton {
  background-color: #f96652;
  border: none;
  border-radius: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
}

.loginButton:hover {
  background-color: #08090a;
  color: #fff;
}

.logoutButton {
  background-color: #08090a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-top: 0.5em;
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #f96652;
  color: #08090a;
}

.logoutLink {
  text-decoration: none;
  color: #fff;
}

.welcomeMessage {
  font-size: 1.2em;
}

.usernameLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
}

.usernameLink:hover {
  text-decoration: none;
  color: #f96652;
  font-weight: bold;
}

.h1 {
  color: #08090a;
}

@media only screen and (max-width: 600px) {
  .header {
    min-width: 65vh;
    max-width: 90vh;
  }

  .mainHeader {
    font-size: 1.8em;
    padding-left: 1em;
    padding-right: 0.5em;
  }

  .login {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0;
  }

  .login > label {
    display: none;
  }

  .loginInput {
    margin: 0;
    width: 80px;
    padding: 0.2em;
    padding-bottom: 0.3em;
  }

  .loginButton {
    font-size: 0.8em;
  }

  .welcomeMessage {
    grid-area: welcome;
    font-size: 0.7em;
  }

  .loader {
    padding: 2em;
    justify-self: center;
  }
}
/* css for articles */

.articlesList {
  list-style: none;
  margin: 0;
  padding: 0;
  /* height: 50em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articlesList > li {
  background-color: #f4f7f5;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-areas:
    'votes header header '
    'votes author date';
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.articleTitle {
  grid-area: header;
  padding-top: 0;
  padding-right: 1em;
  margin: 0;
  font-size: 1.8em;
  justify-self: left;
  text-align: left;
  color: #08090a;
}

.articleVotes {
  grid-area: votes;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
}

.voteCount {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.articleVotes > button {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 1.8em;
  background-color: #f4f7f5;
  border: none;
  color: #08090a;
}

.articleVotes > button:hover {
  color: #f96652;
}

.articleVotes > button[disabled] {
  padding-top: 0.2em;
  margin: 0;
  font-size: 1.6em;
  opacity: 50%;
}

.articleAuthor {
  grid-area: author;
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0;
  text-align: left;
}

.articleDate {
  grid-area: date;
  font-size: 1.1em;
  padding: 0.2em;
  margin-top: 0.1em;
  margin-right: 0.4em;
  text-align: right;
}

.articleCommentCount {
  grid-area: commentCount;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: right;
  padding-bottom: 1em;
  padding-right: 2em;
}

.commentsList {
  list-style: none;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .articlesList > li {
    margin-right: 1em;
  }
  .articleTitle {
    font-size: 1.6em;
  }
  .voteCount {
    font-size: 1em;
  }
  .articleVotes > button {
    font-size: 1.5em;
  }
  .articleAuthor {
    font-size: 1em;
  }

  .articleDate {
    font-size: 0.8em;
  }
}

/* css for nav bar */

.topicsNav {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 4em;
  grid-area: nav;
  justify-self: center;
  background-color: #f96652;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  height: 30em;
  border-radius: 10px;
}

.topicsHeader {
  margin: 0;
  color: #fff;
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 0.2em;
  border-bottom-color: #08090a;
  border-bottom-style: double;
  border-bottom-width: 8px;
}

.topicsLink {
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.topicsLink:hover {
  color: #08090a;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.search > label {
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 1.8em;
  margin-bottom: 0.5em;
  border-bottom-color: #08090a;
  border-bottom-style: double;
  border-bottom-width: 8px;
}

.search > input {
  margin-top: 1em;
  width: 10em;
  height: 3em;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-right: 0;
}

.searchLink {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .topicsNav {
    min-width: 65vh;
    max-width: 90vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 1.5em;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 2em;
    padding-bottom: 1.2em;
    border-radius: 0;
  }

  .topicsHeader {
    display: none;
  }

  .topicsLink {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
  }

  .search > label {
    margin-top: 0.1em;
    display: none;
  }

  .search > input {
    margin: 0;
    max-width: 50px;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0em;
    padding-bottom: 0.2em;
    max-height: 1.5em;
  }

  .search > button {
    background-color: #08090a;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
    margin: 0;
  }
}

/* css for dropdown menus */

.dropdown {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #08090a;
  border-radius: 10px;
  text-align: left;
  border: none;
}

.dropdownLabel {
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 2em;
  color: #fff;
  font-weight: bold;
  border-right-style: double;
  border-right-color: #fff;
}

.dropdownSelect {
  background-color: #08090a;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  border-style: none;
}

@media only screen and (max-width: 600px) {
  .dropdown {
    background-color: transparent;
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    border: none;
  }

  .dropdownLabel {
    display: none;
    font-size: 1em;
    padding-top: 0.2em;
  }

  .dropdownSelect {
    background-color: #08090a;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
  }
}

.topic {
  color: #f96652;
}

.articleTitleLink {
  color: #08090a;
  text-decoration: none;
}

.articleTitleLink:hover {
  color: #596f62;
}

.singleArticle {
  background-color: #f4f7f5;
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}

.singleArticleHeader {
  font-size: 2em;
}

.singleArticleBody {
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 600px) {
  .singleArticleHeader {
    font-size: 1.4em;
  }
  .singleArticleBody {
    font-size: 1.1em;
  }
}

.backButton {
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #08090a;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.backButtonLink {
  color: #fff;
  text-decoration: none;
}

.backButton:hover {
  background-color: #f96652;
}

.button {
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #08090a;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 0.8em;
  }
}

.button:hover {
  background-color: #f96652;
}

.singleArticleHeader {
  border-bottom-color: #08090a;
  border-bottom-style: double;
  border-bottom-width: 6px;
  padding-bottom: 1em;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  background-color: #f4f7f5;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

.form {
  display: flex;
  justify-content: center;
}

.commentForm {
  background-color: #f96652;
  border-radius: 10px;
  padding-top: 0.3em;
  width: 430px;
  display: flex;
  align-content: center;
  margin: 0;
  padding-right: 0;
  border: 0;
}

.commentLabel {
  text-align: left;
  margin-left: 1.3em;
  margin-top: 0.5em;
  color: #fff;
  font-weight: bold;
}

.commentInput {
  border-radius: 10px;
  width: 300px;
  height: 30px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
  border: none;
}

@media only screen and (max-width: 600px) {
  .commentForm {
    margin: 1em;
    width: 300px;
  }

  .commentInput {
    width: 200px;
    padding: 0.5em;
  }
}

/* css for userpage */
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.avatar {
  height: 8em;
  padding: 3em;
}

@media only screen and (max-width: 600px) {
  .avatar {
    height: 4em;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
  }
}

/* css for add article */

.articleForm {
  margin-left: 3em;
  margin-right: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 2fr 8fr 1.5fr;
  grid-template-areas:
    '. articleLabel articleLabel articleLabel . '
    'articleTitleInput articleTitleInput articleTitleInput dropdownTopics dropdownTopics'
    'articleInputBody articleInputBody articleInputBody articleInputBody articleInputBody'
    '. . submit . .';
  background-color: #f4f7f5;
  border-radius: 10px;
}

.articleLabel {
  grid-area: articleLabel;
  font-size: 1.8em;
  font-weight: bold;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

.articleTitleInput {
  grid-area: articleTitleInput;
  border-radius: 10px;
  border: none;
  margin: 1em;
  font-size: 1.2em;
  padding: 1em;
}

.dropdownTopics {
  grid-area: dropdownTopics;
  background-color: #08090a;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin: 1em;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

.articleInputBody {
  grid-area: articleInputBody;
  border-radius: 10px;
  border: none;
  margin: 1em;
  text-align: top;
  padding: 1em;
  font-size: 1.2em;
}

.addArticleButton {
  grid-area: submit;
  width: 10em;
  height: 2em;
  background-color: #08090a;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.addArticleButton:hover {
  background-color: #f96652;
}

@media only screen and (max-width: 600px) {
  .articleForm {
    margin: 1em;
  }
  .articleLabel {
    font-size: 1.2em;
  }

  .articleTitleInput {
    font-size: 0.8em;
  }

  .dropdownTopics {
    font-size: 0.8em;
  }

  .articleInputBody {
    font-size: 0.8em;
  }

  .addArticleButton {
    margin-left: 12em;
    font-size: 0.8em;
    margin-top: 0.5em;
  }
}
