.App {
  text-align: center;
}

.header {
  background-color: #596f62;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #08090a;
  padding: 1em;
  margin: 0;
}
a:-webkit-any-link {
  color: #08090a;
  cursor: pointer;
  text-decoration: none;
}

.h1 {
  color: #08090a;
}

.articlesList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.articlesList > li {
  background-color: #f4f7f5;
  display: grid;
  grid-template-areas:
    'votes header header header'
    'votes header header header'
    '. author date date'
    '. commentCount commentCount commentCount';
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0.5em;
  margin: 1em;
}

.articleTitle {
  grid-area: header;

  border-radius: 10px;
  padding-top: 1em;
  padding-right: 10px;

  margin: 0;
  font-size: 20px;
  justify-self: left;
  text-align: left;
}

.articleVotes {
  grid-area: votes;
  text-align: justify;
  padding-top: 1em;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.voteEmoji {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.voteCount {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.articleVotes > button {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.articleAuthor {
  grid-area: author;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.articleDate {
  grid-area: date;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.articleCommentCount {
  grid-area: commentCount;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.commentsList {
  list-style: none;
}

.topicsNav {
  background-color: #aaaaaa;
}
