.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articlesList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logInButton {
  color: #fff;
}

.articlesList > li {
  display: grid;
  grid-template-areas:
    'header header votes'
    'header header votes'
    'author date date'
    'commentCount commentCount commentCount ';
  border: 1.5px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 1em;
}

.articleTitle {
  grid-area: header;
  padding: 0;
  margin: 0;
}

.articleVotes {
  grid-area: votes;
  padding: 0;
  margin: 0;
}

.articleAuthor {
  grid-area: author;
  padding: 0;
  margin: 0;
}

.articleDate {
  grid-area: date;
  padding: 0;
  margin: 0;
}

.articleCommentCount {
  grid-area: commentCount;
  padding: 0;
  margin: 0;
}

.commentsList {
  list-style: none;
}
